nav{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 80px;
}

.ul1{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0%;
}

.section1{
    display: flex;
    background-color: rgb(231, 222, 240);
    height: 490px;
    padding: 50px 0px 0px 0px;
    align-items: ;
    
}
.section1 div{
    width: 40%;
    
}
.section1 img{
    width: 50%; height: 70%;
}
